# Managed by ansible
{% if kojid_disable_bootstrap_chroot %}
config_opts['use_bootstrap'] = False
{% endif %}

{% if kojid_ulimits_conf %}
config_opts['nspawn_args'] += ['--rlimit=RLIMIT_NOFILE={{ kojid_ulimits_nofiles }}']
{% endif %}

config_opts['dnf_disable_plugins'] = ['versionlock'] 
{% raw %}
config_opts['useradd'] = '/usr/sbin/useradd -m -u {{chrootuid}} -g {{chrootgid}} -d {{chroothome}} -N {{chrootuser}}'
{% endraw %}

{% if kojid_rpmautospec %}
# Enabling rpmautospec mock plugin 
config_opts['plugin_conf']['rpmautospec_enable'] = True
{% endif %}
