[paths]
output_dir = /var/lib/libvirt/images
data_dir = /var/lib/oz
screenshot_dir = /var/lib/oz/screenshots
# sshprivkey = /etc/oz/id_rsa-icicle-gen

[libvirt]
uri = qemu:///system
image_type = raw
# type = kvm
# bridge_name = virbr0
cpus = 4
memory = 4096
mousetype = usb

[cache]
original_media = yes
modified_media = no
jeos = no

[icicle]
safe_generation = no

[timeouts]
install = 12000
inactivity = 500
boot = 500
shutdown = 90
